<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <title>Getting Started: Serving Web Content</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img id="log1" th:src="@{/img/1.png}" alt="memorynotfound log1" width="46px" height="34px"/>
            </a>
        </div>

        <!--  la navigarea inapoi: -->
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="./">Home</a></li>
                <li><a href="usersValidation">User Login</a></li>
                <li><a href="classPage">Class Level</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template" align="center">
        <h1>Math is funny, enjoy it!</h1>
        <!--<h2 th:text="${message}"></h2>-->
        <img id="main1" th:src="@{/img/3.png}" align="center" alt="memorynotfound main1" width="250px" height="250px"/>
        <img id="main2" th:src="@{/img/ein.png}" align="center" alt="memorynotfound ein" width="250px" height="250px"/>
        <img id="main3" th:src="@{../img/4.png}" align="center" alt="memorynotfound 4" width="250px" height="250px"/>

    </div>
</div>

<!-- include javascript -->
<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js/"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>