<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <title>Getting Started: Serving Web Content</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img id="log2" th:src="@{/img/7.png}" alt="memorynotfound 7" width="46px" height="34px"/>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="./">Home</a></li>   <!-- intoarce la meniul home -->
                <li><a href="usersPage">Users</a></li>
                <li><a href="classPage">Classes</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template" align="center">
        <h1>Welcome to your page!</h1>
        <img id="user1" th:src="@{/img/8.png}" align="center" alt="memorynotfound 8" width="465px" height="100%"/>

    </div>

    <!--<table width="100%" border="3px">-->
        <!--<tr align="left " bgcolor="blue">-->
            <!--<th>ID</th>-->
            <!--<th>NAME</th>-->
            <!--<th>AGE</th>-->
        <!--</tr>-->
        <!--<tr bgcolor="grey">-->
            <!--<td>1</td>-->
            <!--<td>Maria Anders</td>-->
            <!--<td>2</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>2</td>-->
            <!--<td>Francisco Chang</td>-->
            <!--<td>4</td>-->
        <!--</tr>-->
        <!--<tr bgcolor="grey">-->
            <!--<td>3</td>-->
            <!--<td>Roland Mendel</td>-->
            <!--<td>7</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>4</td>-->
            <!--<td>Helen Bennett</td>-->
            <!--<td>5</td>-->
        <!--</tr>-->
        <!--<tr bgcolor="grey">-->
            <!--<td>5</td>-->
            <!--<td>Yoshi Tannamuri</td>-->
            <!--<td>2</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>6</td>-->
            <!--<td>Giovanni Rovelli</td>-->
            <!--<td>3</td>-->
        <!--</tr>-->
    <!--</table>-->

    <br/><br/>
    <div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>USER_NAME</th>
                <th>PASSWORD</th>

            </tr>
            <tr th:each ="users : ${usersTable}">
                <td th:text="${users.id}"></td>
                <td th:text="${users.userName}"></td>
                <td th:text="${users.passwrd}"></td>
            </tr>
        </table>
    </div>
</div>

<!-- include javascript -->
<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js/"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>